@media (max-width:1399px) {
    .hero_content h2 {
        width: 55%;
    }
    .future::before {
        left: -6%;
    }
    .z_in{
        z-index: 1;
    }
    .price_single_box {
        height: 535px;
    }
    .btn_price {
        padding: 10px 30px;
    }
    
}
/* 1399 e */
@media (max-width:1199px) {
    .hero_content h2 {
        width: 66%;
    }
    .price_single_box {
        height: 645px;
    }
    .btn_price {
        padding: 10px 18px;
    }
}
/* 1199 e */
@media (max-width:991px) {
    .future::after {
        width: 190px;
        top: 0;
    }
    .f_right_content ul li {
        text-align: start;
    }
    .f_right_content {
        text-align: center;
        margin-top: 20px;
    }
    .future p {
        padding: 0;
        text-align: center;
    }
    .future_header_wrap {
        justify-content: center;
    }
    .contact_number {
        display: none;
    }
    .navbar-nav {
        background: linear-gradient(0deg, #DA16C9, #7F12AB);
        padding: 20px 0px;
    }
    .nav-item {
        margin-left: 10px;
    }
    .hero_content h4 {
        text-align: center;
    }
    .hero_content h3 {
        text-align: center;
    }
    .hero_content h1 {
        display: block;
        text-align: center;
    }
    .hero_content h2 {
        width: 95%;
    }
    .dream_img {
        text-align: center;
        margin-bottom: 20px;
    }
    .dream_img::before {
        left: -50px;
    }
    .price_single_box {
        margin-bottom: 30px;
    }
    .price_single_box {
        height: 500px;
    }
    .pricing {
        padding-bottom: 0;
    }
    .mob {
        text-align: center;
        margin-bottom: 40px;
    }
    .f_contact {
        font-size: 14px;
    }
    .programm_data ul li {
        padding: 0;
    }
}
/* 991 e */
@media (max-width:767px) {
    .hero_content h1 {
        font-size: 50px;
    }
    .hero_content h3 {
        font-size: 30px;
    }
    .hero_content h4 {
        font-size: 22px;
    }
    .future::before {
        display: none;
    }
    .future::after {
        display: none;
    }
    .dream_img::before {
        display: none;
    }
    .price_single_box {
        height: 555px;
    }
    .question::before {
        background-size: 130px;
    }
    .reserve_input_box input {
        margin-bottom: 20px;
    }
    .partner img {
        margin-bottom: 40px;
    }
    .f_single_box {
        margin-bottom: 40px;
    }
    .prom_box {
        margin-bottom: 30px;
    }
    .partner {
        padding-bottom: 30px;
    }
    footer {
        padding-bottom: 10px !important;
    }
    .f_contact {
        font-size: 16px;
    }
}
/* 767 e */
@media (max-width:575px) {
    .hero_content h2 {
        width: 100%;
        text-align: center;
    }
    .pricing h1 {
        font-size: 25px;
    }
    .price_single_box {
        height: 470px;
    }
    .question::before {
        display: none;
    }
    .complete_work h1 {
        margin-bottom: 0;
        font-size: 24px;
    }
    .reserve::before {
        width: 100%;
        background-size: 450px;
    }
    .partner::after {
        width: 100%;
    }
    .img_content {
        padding: 0 5px 0;
    }
    .img_content h3 {
        margin-bottom: 5px;
    }
    .img_content p {
        line-height: 1;
    }
/* 575 e */
@media (max-width:425px) {
    .control h3 {
        font-size: 18px;
    }
    .control p {
        font-size: 14px;
    }
}
/* 425 e */
@media (max-width:375px) {
    .btn_hero {
        padding: 18px 100px;
    }
}